/*
3. Về code, thường thì khai báo font-face t sẽ để lên đầu.
Tiếp theo css mặc định cho các thẻ a,div,body,input,....
Tiếp theo mới là css cho các id hoặc class
như vầy t nghĩ sẽ dễ quản lý hơn*/
:root {
	--green: #57b846;
	--white: #fff;
	--gray: #ebebeb;
	--deep-green: #1b3815;
}

@font-face {
	font-family: "JosefinSans-Bold";
	src: url("fonts/JosefinSans-Bold.ttf");
}

/***** Css for common element  *****/

form {
	width: 100%;
}

input, button {
	height: 55px;
	border-radius: 27px;
	background-color: var(--gray);
	border: none;
	padding: 0 44px;
	width: 80%;
	transition: 0.5s;

}

button {
	background-color: var(--green);
	font-size: 15px;
	transition: 0.5s;
}

button:hover {
	background: var(--deep-green);
	cursor: pointer;
}

input:focus {
	border: none;
	width: 84%;
	outline: none;
}


a {
	text-decoration: none;
}


::placeholder {
  color: var(--deep-green);
  font-weight: bolder;
}

._gray-color {
	color: #999;
}

._green-color {
	color: var(--green);
	font-weight: bolder;
	font-family: "JosefinSans-Bold";
}

/***** End Css for common element  *****/


/***** Css for specify class/id  *****/
.main{
	width: 100%;
	padding-top: 120px;

}

.container {
	/*border: 1px solid red;*/
	width: 500px;
	text-align: center;
	margin: auto;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 4px 4px #f7f7f7;
}


.container .item {
	padding: 10px;
	width: 80%;
	margin: auto;
}


.container ._heading {
	background-color: var(--green);
	line-height: 125px;
	text-align: center;
}

.container ._heading span, button {
	vertical-align: middle;
    color: var(--white);
    font-size: 30px;
    font-family: "JosefinSans-Bold";
}


._text-right {
	text-align: right;
	width: 80%;

}

.sign-up-area {
	padding-top: 170px;
}


/*reposive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.container {
		/*border: 1px solid red;*/
		/*width: 30%;*/
		width: 90%;
	}

	.container .item {
		padding-top: 20px;

	}

	div input, button {
		padding: 0 20px;
	}

	.sign-up-area {
		padding-top: 100px;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
/*tôi thấy nó ok nên k biết nên làm gì k?*/
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/*tôi thấy nó ok nên k biết nên làm gì k?*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	/*tôi thấy nó ok nên k biết nên làm gì k?*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
/*tôi thấy nó ok nên k biết nên làm gì k?*/
}
